.vscode/**
.github/**
.gitignore
node_modules/**
out/**
coverage/**
.c8rc.json
*.vsix
media/demo-preview.gif
media/demo.mp4
media/icon-original.png
src/**
tests/**
tsconfig*.json
pnpm-workspace.yaml
pnpm-lock.yaml
**/*.map
**/*.ts
!out/extension.js
